
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.6;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}


ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


video,
audio {
  display: block;
  max-width: 100%;
  height: auto;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}
